

<div id="popup"></div>

<div class="card">
    <div class="card-header">
    <center><h1>{{titulo}}</h1></center>
    </div>
    <div class="card-body">
    <form method="post" action="/">

    <h5 class="card-title">
        <input 
        type="text"
        placeholder="nombre"
        class="form-control" 
        id="nombreuser"
        name="nombre">
    </h5>

    <p class="card-text"> 
        <input 
        type="text"
        placeholder="correo"
        class="form-control" 
        id="correouser"
        name="correo">
    </p>

    <center>
    <button class="btn btn-danger " type="submit">
    <i class="bi bi-emoji-sunglasses"></i>
    Agregar usuario
    </button>
    </center>
    </form>
</div> 
</div>


{{#if usuariosdatos}} 
    <div class="row">
        {{#each usuariosdatos}}
    <div class="col-sm-6">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{this.nombre}}</h5>
        <p class="card-text">{{this.correo}}</p>
        <a href="/mod?id={{this.id}}" class="btn btn-primary" id="mod-{{this.id}}">Modificar </a>
        <button  onclick="cargadetalle({{this.id}});" class="btn btn-primary" id="{{this.id}}">Ver detalle </a>
        <form method="post" action="/del">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit" style="margin-left: 4px;" class="btn btn-danger" id="del-{{this.id}}">
            <i class="bi bi-trash3-fill"></i> Eliminar 
            </button>
        </form>
        
    </div>
    </div>
    </div>
        {{/each}}
    </div>
{{/if}}
